@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Components */

.wrapped {
  @apply container mx-auto max-w-6xl px-8 py-4;
}
.nav-link {
  @apply uppercase font-normal tracking-wide text-sm border-y-4 border-transparent hover:border-b-teal-200 hover:scale-110 w-full py-2 block cursor-pointer duration-200;
}
.visually-hidden {
  @apply whitespace-nowrap absolute w-[1px] h-[1px] p-0 m-[-1px] overflow-hidden border-none;
  clip: rect(0, 0, 0, 0);
}
.btn {
  @apply uppercase text-sm px-12 py-4 mt-8 rounded-sm shadow-lg hover:scale-105 hover:shadow-2xl duration-200;
}
.section-header {
  @apply font-bold text-4xl text-center mb-12;
}
.menu-item {
  @apply flex flex-col md:flex-row items-center gap-4 px-4 py-4 rounded-md shadow-lg hover:bg-teal-50 hover:scale-105 hover:shadow-xl duration-200;
}
.menu-image-box {
  @apply self-stretch overflow-hidden rounded-md md:rounded-lg md:w-32 md:h-32 lg:w-40 lg:h-40 h-40 bg-slate-200 border border-teal-50 duration-200;
}
.menu-details {
  @apply flex-1 self-stretch flex flex-col gap-1 px-4 py-4;
}
.menu-price {
  @apply self-stretch w-full justify-self-stretch px-4 py-4 md:w-24 text-right;
}
.images {
  @apply object-cover object-center w-full h-full;
}
/* End of Components */

/*  Custom CSS */

.hero-bg {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('./assets/image-burger.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery-img {
  aspect-ratio: 1;
}

/*  End of Custom */
