@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind Components */

.wrapped {
  @apply container mx-auto max-w-6xl px-8 py-4;
}
.nav-link {
  @apply uppercase font-normal tracking-wide text-sm border-y-4 border-transparent hover:border-b-teal-200 hover:scale-110 w-full py-2 block cursor-pointer duration-200;
}
.visually-hidden {
  @apply whitespace-nowrap absolute w-[1px] h-[1px] p-0 m-[-1px] overflow-hidden border-none;
  clip: rect(0, 0, 0, 0);
}
.btn {
  @apply uppercase text-sm px-12 py-4 mt-8 rounded-sm shadow-lg hover:scale-105 hover:shadow-2xl duration-200;
}
/* End of Components */

/*  Custom CSS */

.hero-bg {
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url('./assets/image-burger.jpg');
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

/*  End of Custom */
